#OverviewGraph {
  stroke: rgba(var(--primary-text-rgb), 0.5);
}


.title {
  color: rgba(var(--primary-text-rgb), 1.0);
  text-transform: uppercase;
  font-size: 1.5vw;
}


.segmentNumber {
  color: rgba(var(--important-rgb), 1.0);
  font-size: 1.5vw;
}

.segmentTimeRemaining {
  color: rgba(var(--important-rgb), 1.0);
  font-size: 1.5vw;
}

.timeRemaining {
  color: rgba(var(--primary-text-rgb), 1.0);
  font-size: 1.5vw;
}
.score {
  color: rgba(var(--secondary-text-rgb), 1.0);
  font-size: 1.5vw;
}

.meteorOrb {
  r: 2vh;
  fill: rgba(var(--foreground-rgb), 1);
}
.meteorOrbHalo {
  r: 4vh;
}
.meteorOrbHaloGradient {
  --stop-color-0: rgba(var(--foreground-rgb), 0.5);
  --stop-color-1: rgba(var(--foreground-rgb), 0.0);
}
.meteorTraceGradient {
  --stop-color-0: rgba(var(--important-rgb), 0.8);
  --stop-color-1: rgba(var(--important-rgb), 0.0);
}
.meteorTrace {
  stroke: rgba(var(--important-rgb), 1.0);
  stroke-width: 3;
}
.meteorTraceHalo {
  stroke-width: 3.6vh;
}

.targetCircle {
  r: 6vh;
  fill: rgba(var(--foreground-rgb), 0.5);
}
.targetHaloGradient {
  --stop-color-0: rgba(var(--foreground-rgb), 0.8);
  --stop-color-1: rgba(var(--foreground-rgb), 0.0);
}
.targetHalo {
  r: 8vh;
}

.targetPoints {
  fill: rgba(var(--secondary-text-rgb), 1.0);
  font-size: 6vh;
  text-anchor: middle;
  alignment-baseline: middle;
}

.startWorkoutButton {
  background-color: rgba(var(--primary-button-rgb), 1.0);
}

.finishedSplashScreen {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(var(--primary-text-rgb), 1.0);
  text-transform: uppercase;
  font-size: 5vw;
}

.startSplashScreen {
  color: rgba(var(--primary-text-rgb), 1.0);
  text-transform: uppercase;
  font-size: 10vw;
}