

.paper {
  background-color: rgba(var(--paper-rgb), 1.0);
  background-image: rgba(var(--paper-rgb), 1.0);
  color: rgba(var(--primary-text-rgb), 1.0);
  padding: 1em;
}

.workoutChartLine {
  stroke: rgba(var(--important-rgb), 1.0);
  stroke-width: 4px;
}

.workoutTitle {
  text-transform: uppercase;
  font-size: 1.5em;
}
.workoutDescription {
  color: rgba(var(--secondary-text-rgb), 1.0);
  font-size: 1em;
  height: 3em;
}

.workoutData {
  border-top: 1px solid;
  border-color: rgba(var(--secondary-text-rgb), 1.0);
  padding-top: 1em;
}


.propertyName {
  text-transform: uppercase;
}

.propertyValue {
  color: rgba(var(--secondary-text-rgb), 1.0);
}

