.workoutTitle {
  text-transform: uppercase;
  font-size: 1.5vw;
}
.workoutDescription {
  color: rgba(var(--secondary-text-rgb), 1.0);
  font-size: 1vw;
  height: 3vw;
}

.workoutData {
  border-top: 1px solid;
  border-color: rgba(var(--secondary-text-rgb), 1.0);
  padding-top: 1vw;
  font-size: 1vw;
}

.propertyName {
  text-transform: uppercase;
}

.propertyValue {
  color: rgba(var(--secondary-text-rgb), 1.0);
}

.sidePane {
  border-left: 1px solid;
  border-color: rgba(var(--secondary-text-rgb), 1.0);
}

.sidePaneTitle {
  margin: 0.5em;
}